.wprtc_image_preview_wrapper {
  border: 1px dotted grey;
  margin-bottom: 10px;
  width: 100%;
}

.wprtc_image_preview_wrapper {
  content: "";
  display: table;
  width: 100%;
  text-align: center;
}
.wprtc_image_preview_wrapper:after {
  clear: both;
}

/*Image Preview*/
.wprtc_image_preview {
  float: left;
  width: 35%;
}
.wprtc_image_preview img {
  width: 100%;
}

/*Image Caption*/
.wprtc_slide_actions_wrapper {
  padding: 25px;
  float: left;
  width: 56%;
}

.wprtc_slide_actions_wrapper label {
  display: inline-block;
  margin-bottom: 10px;
}

.wprtc_slide_actions {
  margin-top: 20px;
}

.wprtc_edit_slide_button,
.wprtc_delete_slide_button {
  padding: 8px;
  text-align: center;
  display: inline-block;
  background-color: #0085ba;
  color: white;
  text-decoration: none;
  border-radius: 2px;
  margin-right: 20px;
}

.wprtc_edit_slide_button:hover,
.wprtc_delete_slide_button:hover {
  color: white;
}

.wprtc_button_wrapper {
  border: 2px dashed #b4b9be;
  padding: 10px;
  text-align: center;
}

.wprtc_state_highlight {
	border: 1px solid #dad55e;
  background: #fffa90;
  color: #777620;
  line-height: 1.2em;
}

/*Css for Sttings */
.wprtc_slideshow_setting {
  margin-bottom: 10px;
}

.wprtc_slideshow_setting label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
