.wprtc_image_preview_wrapper {
  border: 1px dotted grey;
  margin-bottom: 10px;
  width: 100%;
}

.wprtc_image_preview_wrapper {
  content: "";
  display: table;
  width: 100%;
  text-align: center;
}
.wprtc_image_preview_wrapper:after {
  clear: both;
}

/*Image Preview*/
.wprtc_image_preview {
  float: left;
  width: 35%;
}
.wprtc_image_preview img {
  width: 100%;
}

/*Image Caption*/
.wprtc_slide_actions_wrapper {
  padding: 25px;
  float: left;
  width: 56%;
}

.wprtc_slide_actions_wrapper label {
  display: inline-block;
  margin-bottom: 10px;
}

.wprtc_slide_actions {
  margin-top: 20px;
}

.wprtc_edit_slide_button,
.wprtc_delete_slide_button {
  padding: 8px;
  text-align: center;
  display: inline-block;
  background-color: #0085ba;
  color: white;
  text-decoration: none;
  border-radius: 2px;
  margin-right: 20px;
  width: 84px;
}

.wprtc_edit_slide_button:hover,
.wprtc_edit_slide_button:active,
.wprtc_edit_slide_button:focus,
.wprtc_delete_slide_button:hover,
.wprtc_delete_slide_button:active,
.wprtc_delete_slide_button:focus,
.wprtc_add_new_slide:hover,
.wprtc_add_new_slide:active,
.wprtc_add_new_slide:focus {
  color: white;
}

.wprtc_add_new_slide {
  padding: 20px;
  text-align: center;
  display: inline-block;
  background-color: #0085ba;
  color: white;
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
}

.wprtc_button_wrapper {
  padding: 10px;
  text-align: center;
}

.wprtc_state_highlight {
	border: 4px dotted #000000;
  background: #fffedf;;
  color: #777620;
  line-height: 1.2em;
  margin-bottom: 10px;
  opacity: 0.5px;
}

/*Css for Sttings */
.wprtc_slideshow_setting {
  margin-bottom: 10px;
}

.wprtc_slideshow_setting label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

@media all and (max-width: 575px) {

  .wprtc_image_preview {
    width: 100%;
  }

  .wprtc_slide_actions_wrapper {
      padding: 20px 0px;
      width: 100%;
      margin: 0 auto;
      display: inherit;
  }

  .wprtc_edit_slide_button,
  .wprtc_delete_slide_button {
    margin-right: 5px;
  }
}

@media all and (min-width: 576px) and (min-width: 960px) {

  .wprtc_slide_actions_wrapper {
      padding: 16px;
      margin: 0 auto;
      display: inherit;
  }

  .wprtc_edit_slide_button,
  .wprtc_delete_slide_button {
    margin-right: 10px;
  }

}

@media all and (min-width: 1200px) {
  .wprtc_slide_actions {
    margin-top: 50px;
  }
}
